{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

    <title>Dashboard</title>
    
</head>
<body>

<div class="sidebar">
    <h2>Dashboard</h2>
    <a href="/home/">Authors</a>
    <a href="/books/">Books</a>
    <a href="login_admin">Logout</a>
</div>

<div class="main-content" id="mainContent">
    <h2>Books</h2>
     
    <div class="search-container">
        <div class="searchBox">
            <form action="/search_books/" method="post">
                {% csrf_token %}
            <input class="searchInput" type="text" name="bookname" placeholder="Search Books" required>
            <button  type="submit" class="searchButton">
                <i class="material-icons">
                    search
                </i>
            </button>
        </form>
        </div>
        <a href="/add_books/" class="add-btn">Add Book</a>
    </div> 
    <table>
        <thead>
        <tr>
            <th>No</th>
            <!-- <th>Author Name</th> -->
            <th>Book Name</th>
            <th>Created Date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            {% for i in books_list %}
            <tr>
                <td>{{ forloop.counter }}</td> 
                <!-- <td>{{ i.author }}</td> -->
                <td>{{ i.book_name }}</td>
                <td>{{ i.created_date }}</td>
                <td>
                    <div class="action-links">
                        <a href="/book_edit/{{ i.book_id }}">✏️</a>
                        <a href="/author_book_delete/{{ i.book_id }}">🗑️</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>


    <div class="table-actions"></div>
</div>






</body>
</html>






